@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
/*resetea todo todo el diseño inicial de la página*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*diseño de todo el cuerpo*/
body {
    background-color: #131839;
    color: white;
}
/*Diseño de todo el contenido. Lo estructura en grid, tiene dos filas el de 70px es el navbar lo otro se ajustará automasticamente*/
.container {
    display: grid;
    grid-template-rows: 70px auto;
}
/*diseño del navbar. Habrá que borrar el borde*/
.nav {
    border: 5px solid yellow;
}
/*Si no se necesita mas código se podrá borrar*/
.main {
   background-color: aqua;
}
/*estructura el texto principal y la imagen en dos columnas. cada div tendrá su propio diseño*/
.main_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
/*estructura el contacto y el formulario en dos columnas. cada div deverá tener su propio diseño*/
.contacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
/*diseño del formulario. Habrá que borrar el borde*/
.formulario {
  
   border:5px solid pink;
}
/*diseño de principal. Habrá que borrar el borde*/
.principal {
   
    border:5px solid rgb(34, 149, 175);
}
/*diseño de la imagen. Habrá que borrar el borde*/
.imagen {
   
   border:5px solid orange;
}
