@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=Space+Mono&display=swap');

#nombre {
    
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 100px;
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    height: 80px;
    width: 653px;
    left: 0px;
    top: 0px;
    border-radius: 5px;
    gap: 47px;
    }
::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #737373;
    left:26px;
    height: 28px;
    padding-left: 20px;
    }
#email {
    width: 653px;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 20px;
    
}

#message {
height: 140px;
width: 655px;
left: 697px;
top: 1209px;
border-radius: 5px;
width: 655px;
height: 140px;
left: 697px;
top: 1209px;
background: #F9F9F9;
border: 1px solid #E6E6E6;
border-radius: 5px;
padding-top: 10px;
}

.submit {
width: 357.82px;
height: 86px;
left: 696px;
top: 1365px;
background: #6C56C2;
border-radius: 16px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 27px;
/* identical to box height */
text-align: center;
color: #FFFFFF;
margin-top: 10px;
}

    

