.padd {
    height: 22px;
    width: 77px;
    left: 663px;
    top: 74px;
    border-radius: nullpx;}


    font-family: Inter;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0em;
text-align: left;

    



